version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      github-actions-updates:
        patterns:
          - "*"
    schedule:
      interval: "monthly"
      day: "monday"
    open-pull-requests-limit: 1

  - package-ecosystem: "pip"
    directory: "/"
    groups:
      python-dependency-updates:
        patterns:
          - "*"
    schedule:
      interval: "monthly"
      day: "monday"
    open-pull-requests-limit: 1
