[tool.ruff]
# Set the maximum line length to 100
line-length = 100
target-version = "py311"

[tool.ruff.lint]
# Enable Pyflakes (F), pycodestyle (E), and isort (I)
select = ["E", "F", "I"]
ignore = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
